.admin-navbar{
    padding: 8px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #e9e9e9  ;
    margin-bottom: -18px;
}

 .logo{
    width: max(10%,100px);
}
.profile{
    width: 40px;
}
.admin-navbar P{
    font-family: Outfit;
    font-size: 16px;
    margin-top: 0px;
   
    
}
