/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .loading,
.error {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: #f44336;
  font-weight: bold;
}

.loading {
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form Styling */
  form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: rgb(231, 40, 6);
  }
  
  .error {
    color: #dc3545;
  }
  
  .success {
    color: #28a745;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    input[type="text"],
    input[type="number"] {
      font-size: 1em;
    }
  
    button {
      font-size: 1em;
      padding: 8px 16px;
    }
  }
  